@import (reference) "_vars.less";

html, body, #elm-app {
  height: 100%;
}

.nav-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.nav-radar {
  order: 1;
  width: 300px;
  box-sizing: border-box;

  background: @base00;

  .event {
    padding: 14px;
    color: #BDC3C7;
    border-bottom: 2px solid @base01;

    .event-header {
      color: @base03;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;

      .hl {
        color: #E0E0E0;
      }

      .build {
        float: right;
      }
    }

    .progress {
      margin-top: 24px;
      background: @base02;
      height: 2px;
      width: 100%;
      position: relative;

      .fixed-duration {
        z-index: 101;
        font-size: 12px;
        font-style: italic;
        position: absolute;
        top: -20px;
      }

      .fg {
        height: 100%;
        position: relative;

        .glyph {
          position: absolute;
          font-size: 16px;
          top: -7px;
          right: -8px;
          background: @base00;
          width: 14px;
          line-height: 16px;
          text-align: center;
          z-index: 100;

          .embedded-duration {
            z-index: 101;
            font-size: 12px;
            font-style: italic;
            position: absolute;
            left: -2px;
            top: -14px;
            color: @base04;
          }
        }
      }

      .over {
        background: repeating-linear-gradient(-90deg, @base02, @base02 2px, transparent 2px, transparent 4px);
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }
    }

    &.failed {
      background: transparent;

      .event-header .build {
        color: @base08;
      }

      .progress .fg {
        background: @base08;

        .glyph {
          color: @base08;
        }
      }
    }

    &.started {
      background: transparent;

      .event-header .build {
        color: @base0A;
      }

      .progress .fg {
        background: @base0A;

        .glyph {
          color: @base0A;

          i {
            font-size: 15px;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}

.nav-content {
  order: 0;
  flex-grow: 1;
}

.breadcrumb {
  background: @base03;

  .crumb {
    color: @base06;
    font-size: 18px;
    display: inline-block;
    background: @base01;
    text-decoration: none;
    position: relative;
    padding: 0 15px 0 5px;
    margin-right: 23px;
    height: 40px;
    line-height: 40px;

    a {
      height: 40px;
      line-height: 40px;
      display: inline-block;
    }

    &.tier1 {
      background-color: @base00;

      &:before {
        border-color: @base00;
        border-left-color: transparent;
      }

      &:after {
        border-left-color: @base00;
        background: @base02;
      }
    }

    &.tier2 {
      background-color: @base01;

      &:before {
        border-color: @base01;
        border-left-color: transparent;
      }

      &:after {
        border-left-color: @base01;
        background: @base03;
      }
    }

    &.tier3 {
      background-color: @base02;

      &:before {
        border-color: @base02;
        border-left-color: transparent;
      }

      &:after {
        border-left-color: @base02;
        background: @base04;
      }
    }

    &.tier4 {
      background-color: @base03;

      &:before {
        border-color: @base03;
        border-left-color: transparent;
      }

      &:after {
        border-left-color: @base03;
        background: @base05;
      }
    }

    &.label {
      // margin-left: -2px;

      a {
        color: @base04;
      }
    }

    &:first-child {
      padding-left: 15px;
      margin-left: 0;

      &:before {
        border: none;
      }
    }

    &:last-child:after {
      border: none;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      border: 0 solid @base01;
      border-width: 20px 10px;
      width: 0;
      height: 0;
    }

    &:before {
      left: -20px;
      border-left-color: transparent;
    }

    &:after {
      left: 100%;
      border-color: transparent;
      border-left-color: @base01;
    }

    // &:hover {
    //   background-color: @base03;

    //   &:before {
    //     border-color: @base03;
    //     border-left-color: transparent;
    //   }

    //   &:after {
    //     border-left-color: @base03;
    //   }
    // }

    // &:active {
    //   background-color: @base02;

    //   &:before {
    //     border-color: @base02;
    //     border-left-color: transparent;
    //   }

    //   &:after {
    //     border-left-color: @base02;
    //   }
    // }
  }
}
